@model IEnumerable<TodoList.Models.TAIKHOAN>

@{
    ViewBag.Title = "XemThongTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XemThongTin</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MATAIKHOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENTAIKHOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MATAIKHOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENTAIKHOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATKHAU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
